/* Navbar-top */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-size: 62.5%;
}

.first-section {
    font-size: 1.2rem;
}

.main-top-navbar .main-top-navbar__logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2.2rem;
    width: 20%;
}

.main-top-navbar .main-top-navbar__models-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-top-navbar .main-top-navbar__right-navbar-el {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.first-section {
    background: url("../images/first.jpg") no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.main-top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px 35px; */
}

.main-top-navbar .logo {
    width: 9rem;
}

.main-top-navbar .main-top-navbar__models-list,
.main-top-navbar .main-top-navbar__right-navbar-el {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-top-navbar .main-top-navbar__models-list li,
.main-top-navbar .main-top-navbar__right-navbar-el li {
    list-style: none;
    margin: 4px 4px;
    padding: 0 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Header */

.header h1 {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

/* Side navbar */

aside {
    z-index: 1;
    position: fixed;
    left: 0%;
    padding-left: 10px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside .left-navbar .left-navbar__items li {
    list-style: none;
}

/* Bottom section */

.first-section .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.car-performances {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0%;
    position: absolute;
    padding-bottom: 3rem;
    width: 40%;
}

.performance-item {
    margin: 1rem;
}

/* 
!TODO: Put button in the right left corner
*/

/* Message button */

.flex-right-bottom {
    position: sticky;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* align-content: center;
    align-items: center; */
    height: min-content;
    width: min-content;
    bottom: 0%;
    right: 0%;
}

.message-btn {
    border: solid 2px #4675aa;
    flex: 0 1 auto;
    align-self: flex-end;
}

/* Second section */

.second-section.align-row {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* align-content: space-between; */
    /* height: 100vh; */
}

.align-row .section-img {
    flex: 80%;
}

.align-row .section-img img {
    width: 100%;
}

.section-right-side {
    color: #333;
    font-size: 1.4rem;
    width: 20%;
}

.section-right-side {
    padding: 32px 40px;
}

.align-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-btns {
    bottom: 0;
}
