* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "gotham ssm";
    src: url("../fonts/Gotham\ Book.otf");
}

body {
    color: #fff;
    font-family: "gotham ssm";
}

html {
    font-size: 62.5%;
}

/* First section */

.first-section {
    font-size: 1.4rem;
}

/* Navbar-top */

.first-section .main-top-navbar {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: #ffffff;
}

.main-top-navbar .main-top-navbar__logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3.2rem;
    /* width: 12rem;
    height: 2.4rem; */
}

.main-top-navbar .main-top-navbar__models-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7rem;
}

.main-top-navbar .main-top-navbar__right-navbar-el {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
}

.first-section {
    background: url("../images/first.jpg") no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.main-top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px 35px; */
}

.main-top-navbar .logo {
    margin-left: 1rem;
}

.main-top-navbar .main-top-navbar__models-list,
.main-top-navbar .main-top-navbar__right-navbar-el {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-top-navbar .main-top-navbar__models-list li,
.main-top-navbar .main-top-navbar__right-navbar-el li {
    list-style: none;
    margin: 0.3rem;
    padding: 0 1.4rem;
    letter-spacing: 0.1rem;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Header */

.header h1 {
    display: flex;
    justify-content: center;
    /* padding: 2rem 0; */
    font-size: 4rem;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 2.1rem;
    padding: 7.5rem 2.4rem;
    z-index: 1;
}

/* Side navbar */

aside {
    z-index: 1;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 0%;
    padding-left: 1rem;
    font-size: 2.4rem;
    font-weight: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside .left-navbar .left-navbar__items li {
    list-style: none;
}

aside .left-navbar .left-navbar__items li a {
    color: #7e8491;
}

/* Left navbar after psuedo elements */
aside .left-navbar .left-navbar__items li a::after {
    content: attr(section-name);
    font-size: 1rem;
    /* padding-bottom: 2rem; */
    /* margin-bottom: 2rem; */
    color: #f4f4f4;
    font-weight: 800;
    display: none;
    margin-left: 1rem;
}

aside .left-navbar .left-navbar__items li a:hover {
    color: #f4f4f4;
    font-weight: 800;
}

aside .left-navbar .left-navbar__items li a:hover::after {
    display: inline-block;
}

/* Bottom section */

.first-section .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.car-performances {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0%;
    position: absolute;
    padding-bottom: 8rem;
    width: 40%;
}

.car-performances .acceleration-rate .svg-speedometer-container {
    height: min-content;
}

.car-performances .acceleration-rate .svg-speedometer-container svg {
    left: 0;
    bottom: 0;
    margin-top: 0.4rem;
    margin-right: 0.7rem;
}

.performance-item {
    margin: 1rem;
    flex: 25%;
    flex-shrink: 0;
}

.order-btn {
    flex-shrink: 0;
}

.main-top-navbar__models-list li a,
.main-top-navbar__right-navbar-el li a,
.car-performances a {
    position: relative;
}

.main-top-navbar__models-list li a::after,
.main-top-navbar__right-navbar-el li a::after,
.car-performances a::after {
    content: attr(tooltip-content);
    display: none;
    background: #32363f;
    position: absolute;
    font-size: 1rem;
    width: 8rem;
    height: 2rem;
    text-align: center;
    border: 1px #fff solid;
    right: 2rem;
}

.main-top-navbar__models-list li a:hover:after,
.main-top-navbar__right-navbar-el li a:hover:after,
.car-performances a:hover:after {
    display: block;
    z-index: 1;
}

/* Message button */

.msg-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3rem;
    width: 5rem;
    height: 5rem;
    z-index: 1;
    border: 1px #fff solid;
    box-shadow: 0px 1px 1px 1px rgba(137, 137, 137, 0.8);

    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
}

.msg-button svg {
    align-self: center;
}

/* Second section */

.second-section {
    color: #333;
}

.second-section .section-img {
    flex: 80%;
}

.second-section .section-img img {
    width: 100%;
}

.section-right-side .headers {
    padding-top: 1.6rem;
    padding-bottom: 0.8rem;
}

.section-right-side .img-explanation .par-container {
    color: #393c41;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    padding: 1.6rem 0;
}
.section-right-side .img-explanation .par-container p strong {
    color: #171a20;
    font-weight: 1000;
    line-height: 2rem;
}
.section-right-side .img-explanation .par-container p a {
    color: #393c41;
    text-decoration: underline;
}

.section-right-side {
    font-size: 1.4rem;
    flex: 23%;
    padding: 32px 40px;
}

.bottom-btns {
    bottom: 0;
    margin: 1.6rem 0;
}

.bottom-btns .align-row-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-btns a p {
    color: #393c41;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    height: max-content;
    width: max-content;
    padding: 1rem;
    /* padding-left: 0.2rem; */
}

.order-btn {
    height: min-content;
    text-align: center;
    align-self: center;
    border: 3px solid;
    border-radius: 20px;
    width: 200px;
    height: min-content;
    padding: 8px;
    font-size: 1.2rem;
}

/* Third section */

.third-section {
    height: 100vh;
}

.third-section .section-img {
    background: url("../images/third.jpg") no-repeat center center/cover;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
}

.third-section .section-img .car-performances {
    align-items: center;
    width: 80%;
    justify-content: space-between;
    padding: 7rem 30rem;
    align-self: center;
}

.car-performances.wide {
    align-items: stretch;
    width: 100%;
}

.car-performances .performance-item {
    /* width: max-content; */
    text-align: center;
    /* width: 100%; */
    margin: 0 2rem;
    /* flex: ; */
}

.svg-speedometer-container {
    width: min-content;
    align-self: center;
}

.svg-speedometer-container p {
    width: max-content;
}

.third-section .section-bottom .img-explanation {
    align-items: center;
    align-items: center;

    /* margin: 0 27rem; */
    /* justify-content: center; */
    /* width: 50%; */
    /* align-self: center; */
}

.third-section
    .section-bottom
    .img-explanation
    .align-row
    .img-explanation-container {
    /* width: 90rem; */
    padding: 0 8rem;
}

.align-row .img-explanation-container .bottom-btns .align-row-btn p {
    padding-left: 0;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    height: max-content;
    width: max-content;
    /* padding: 1rem; */
}

.section-bottom.align-row {
    font-size: 1.4rem;
    padding: 32px 40px;
    justify-content: center;
    align-items: center;
    width: 80%;
    align-self: center;
}

.third-section .section-bottom .img-explanation .align-row .learn-more {
    /* height: min-content; */
    padding-right: 0;
    width: max-content;
    padding: 0 2rem;
}

.third-section .section-bottom .img-explanation .align-row .third-section-exp {
    /* width: min-content; */
    align-self: flex-start;
    line-height: 2.2rem;
    /* flex: 70%; */
    /* flex-wrap: wrap; */
}

.img-explanation-container .bottom-btns {
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
}

/* Utilities */

.btn-light {
    border-color: #fff;
    color: #fff;
}

.btn-dark {
    color: #333;
    border-color: #333;
}

.align-row {
    display: flex;
    justify-content: space-between;
}

.align-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.light-text-color {
    color: #fff;
}

.dark-text-color {
    color: #333;
}

.large-text {
    font-size: 2.8rem;
    font-weight: 700;
}

.small-text {
    font-size: 1.2rem;
    padding-top: 0.8rem;
    font-weight: 400;
}

.img-explanation__small-txt {
    color: #171a20;
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: -0.4px;
}

.img-explanation__larger-txt {
    color: #171a20;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 3.6rem;
}
